.principal{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.boxUp{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100dvh; 
}

.main,
.div {
    padding: 10px;
}

.h1 {
    font-size: 45px;
    background: -webkit-linear-gradient(hsl(271, 36%, 64%), hsl(288, 100%, 50%));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.img {
    border-radius: 100%;
}

.a {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding: 5px 30px;
    background-color: aliceblue;
    border-radius: 20px;
    text-decoration: none;
    color: black;
}

.info{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    padding: 40px;
    
}

.box{
    margin-bottom: 20px;
    backdrop-filter: blur(50px);
    background-color: #ffffff1d;
    border-radius: 20px;
    padding: 30px;
}


.boxlink{
    width: max-content;
}

.a1{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding: 5px 30px;
    background-color: aliceblue;
    border-radius: 20px;
    text-decoration: none;
    color: black;
    width: 20%;
}